html{
	font-size: 36px;
}
body{font-size:62.5%;
	font-family:"Microsoft YaHei",Arial;
margin: 0;padding: 0; overflow-x:hidden; overflow-y:auto;color:#555;

}   
a{
	text-decoration: none;
}
a:link{
	color: #555;
}
a:visited{
	color: #555;
}
a:hover{
	color: #555;
}
a:active{
	color: #555;
}
.viewport{ max-width:640px; min-width:300px; margin:0 auto;} 



.adrs-wrap{
	font-size: 0.4rem;
	padding: 0.2rem 0rem;
	background: #EEE;
	min-height: 2rem;
}
.adrs-wrap:after{
	clear: both;
	content: "";
	display: block;
}
.adrs-icon-wrap{
	display: inline-block;
	float: left;
	vertical-align: middle;
	padding: 0 0.2rem;
}
.adrs-icon-wrap img{
	width: 0.5rem;
}

.adrs-info-wrap{
	display: inline-block;
	max-width: 8rem;
	line-height: 0.5rem;
}
.adrs-content-wrap:after{
	clear: both;
	display: block;
	content: "";
}

.adrs-phone{
	float: right;
}
.adrs-title-wrap{
	display: inline-block;
	float: left;
}
.adrs-content{
	display: inline-block;
}
.adrs-edit-icon-wrap{
	display: inline-block;
	float: right;
	vertical-align: middle;
	line-height: 1.5rem;
	padding: 0 0.2rem;
}
.adrs-edit-icon-wrap img{
	width: 0.5rem;

}

.adrs-line-wrap{
	width: 100%;
	height: 0.2rem;
	background: url(../images/rbline.png);
	background-size: 10%;	
}

.book-wrap{
	font-size: 0.4rem;
	padding-left: 0.2rem;
	border-bottom: solid #ccc 0.02rem;
	margin-bottom: 5rem;
}
.book-store-name{
	line-height: 0.8rem;
}
.book-content-wrap{
	background: #EEE;
	padding: 0.2rem 0.2rem 0.2rem 0;
	margin-bottom: 0.2rem;
}
.book-content-wrap:after{
	clear: both;
	content: "";
	display: block;
}
.book-img-wrap{
	display: inline-block;
	float: left;
}
.book-img-wrap img{
	width: 1.5rem;
}
.book-name-wrap{
	line-height: 0.5rem;
	width: 6rem;
	display: inline-block;
	padding-left: 0.2rem;
}
.book-author{
	font-size: 0.36rem;
}
.book-num-wrap{
	display: inline-block;
	float: right;
	max-width: 1.5rem;
	text-align: right;
}
.book-num-wrap p{
	margin-bottom: 0.3rem;
}
.express-wrap{
	border-bottom: solid #ccc 0.02rem; 
}
.express-wrap:after{
	clear: both;
	content: "";
	display: block;
}
.express-title{
	display: inline-block;
}
.express-content{
	max-width: 2rem;
	float: right;
	padding-right: 0.2rem;
}
.express-content p{
	float: right;
	line-height: 0.5rem;
	font-size: 0.4rem;
}
.total-wrap{
	padding: 0.2rem 0.2rem 0.2rem 0;
}
.total-wrap:after{
	clear: both;
	content: "";
	display: block;

}
.total-wrap p{
	display: inline-block;
}
.total-money{
	color: #ef5464;
	float: right;
}
.pay-block-wrap{
	background: rgba(121,121,121,0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 3;
}
.pay-btn-wrap{
	background: rgba(255,255,255,1);
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 3rem;
}
a.pay-btn{
//	position: absolute;
//	bottom: 0;
	width: 100%;
}
.weui-btn_primary {
  background-color: #1AAD19;
}
.weui-btn_primary:not(.weui-btn_disabled):visited {
  color: #FFFFFF;
}
.weui-btn_primary:not(.weui-btn_disabled):active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #179B16;
}

.weui-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55555556;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}
.weui-btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.submit-wrap{
	position: fixed;
	bottom: 0;
	font-size: 0.4rem;
	width: 100%;
	border-top: solid #ccc 0.02rem;
	background: white;
}
.submit-btn{
	float: right;
	padding: 0.4rem 0.4rem;
	background: #ef5464;
	color: white;
	border: none;
}
.submit-total-money{
	color: #ef5464;
}
.submit-total-wrap{
	float: right;
	padding: 0.4rem 0.2rem;
}

.order-state-wrap{
	font-size: 0.4rem;
	line-height: 0.5rem;
}
.state-wrap{
	padding: 0.2rem;
}
.state-icon-wrap{
	display: inline-block;
	float: left;
	padding:0 0.2rem 0 0 ;
	
}
.state-icon-wrap img{
	width: 0.8rem;
	vertical-align: top;
}
.state-info-wrap{
	display: inline-block;
	max-width: 8rem;

}
.state-info-small{
	font-size: 0.36rem;
	color: #AAA;
}

.hidden{
	overflow: hidden;
}
.auto{
	overflow: auto;
}

.icon-check-wrap{
	display: inline-block;
	float: left;
	padding-right: 0.2rem;
	//height: 1.3rem;

}
.icon-check{
	width: 0.4rem;
	vertical-align: middle;
}
.address-wrap{
	font-size: 0.4rem;
	line-height: 0.6rem;
	background: white;
	margin-top: 4rem;
	max-height: 6rem;
	overflow-y: auto;
}
.address-wrap:after{
	clear: both;
	content: "";
	display: block;
}
.icon-edit{
	width: 0.6rem;
	vertical-align: middle;
}
.adrs-item-wrap{
	border-bottom: 0.02rem solid #ccc;
	padding: 0.2rem 0.1rem;
}
.adrs-content-wrap{
	display: inline-block;
}
.address-popup-wrap{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}